.navbar {
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #e71919;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    min-width: 0;
}

.logo {
    height: 60px;
    width: auto;
}

.sitename {
    font-size: 2rem;
    line-height: 1;
    color: black;
    position: relative;
    bottom: 4px;
}

.nav-right {
    display: flex;
    gap: 24px;
    list-style: none;
    flex-wrap: nowrap;
    margin: 0 20px 0 0;
    padding: 0;
    min-width: 0;
}

.nav-right li {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    bottom: 4px;;
}

.nav-right li:hover {
    border-bottom: #ffffff 2px solid;
    border-top: #ffffff 2px solid;
}