.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  height: 200px;

  border: 2px solid #000;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.5));
}

.test {
  font-size: 4rem;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  position: relative;
}

.test::after, test::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    background: linear-gradient(to right, #ff0000, #0000ff);
    left: 0;
}
.card {
  width: 75vw;
  height: 150px;
}

.card .title {
  font-size: 60px;
  margin: 20px;
  text-align: left;
}

.card .description {
  font-size: 20px;
  margin: 20px;
  text-align: right;
}